


html{
    font-family: "verdana";
    }







body{
    height: 100vh;

  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 0.1fr 1fr 0.5fr 0.1fr;
 
  grid-template-areas:
  "navbar navbar navbar"
  "sidebarLeft main sidebarRight"
  "sidebarLeft section sidebarRight"
  "foot foot foot";
}

nav {
    grid-area: navbar;
    background-color:white;
    border-radius: 5px;
    font-size: 30px;
    text-align: left;
    color: white;
}

nav img{
    height: 100px;
}






aside.left{
    padding: 10px;
    background-color: rgb(219, 232, 255,0.3);
    grid-area: sidebarLeft;
    border: solid rgb(255, 255, 255);
    border-radius: 15px;
}

.KeperConfig{
    padding-top: 20px;
    padding-bottom: 40px;
}


aside.right
{
    padding: 10px;
    background-color: rgb(219, 232, 255,0.3);
    border-radius: 15px;
    border: solid rgb(255, 255, 255);
    border-radius: 15px;

    grid-area: sidebarRight;

    
   
}
main{
    grid-area: main;
	padding: 8px;
	margin: 0 auto;
height: 720px;
width: 1080;
}

section{
    
    padding: 10px;
    background-color: rgb(219, 232, 255,0.3);
    border-radius: 15px;
    border: solid rgb(255, 255, 255);
    border-radius: 15px;

    grid-area: section;
   
}

footer{
    grid-area: foot;
  
    
}

li{
    list-style: none;
}


